@model SingleProjectViewModel

@{
    this.ViewData["Title"] = Model.Title;
}

<h2 style="font-family: sans-serif">@this.ViewData["Title"]</h2>
<h5 class="font-weight-lighter">Начална дата: @Model.StartDate.ToString("dd MMMM yyyy")</h5>
<h5 class="font-weight-lighter">Крайна дата: @Model.EndDate.ToString("dd MMMM yyyy")</h5>
<hr />


@foreach (var furniture in this.Model.Furnitures)
{
    <div class="col-md-4">
        <img src=@furniture.ImageUrl class="img-fluid rounded-start " style="height:100%;max-height:240px;max-width:350px;" alt=@furniture.Name>
    </div>
}