@using FurnitureHandbook.Data.Models
@model CreateFurnitureInputModel
@{
    this.ViewData["Title"] = "ДОБАВИ МЕБЕЛ";
    var textures = this.Model.Textures.Select(x => new SelectListItem(x.Value, x.Key));
    var edgebands = this.Model.Edgebands.Select(x => new SelectListItem(x.Value, x.Key));
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-danger">@this.TempData["Message"]</div>
}

<form method="post" class="col-md-6 offset-md-3"
      enctype="multipart/form-data">
    <h1 class="text-center">@this.ViewData["Title"]</h1>
    <hr />
    <div class="form-group">
        <label asp-for="Name">Мебел</label>
        <textarea asp-for="Name" class="form-control"></textarea>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image">Снимка на проекта</label>
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Color">Цвят/Дизайн</label>
        <textarea asp-for="Color" class="form-control"></textarea>
        <span asp-validation-for="Color" class="text-danger"></span>
    </div>
    <hr />
    <h3>Размери:</h3>
    <p>Дължина/Височина/Дълбочина</p>
    <div class="input-group mb-3">
        <input type="text" onfocus="this.value=''" class="form-control" asp-for="Length" placeholder="Дължина" aria-label="Lenght">
        <span class="input-group-text">/</span>
        <input type="text" onfocus="this.value=''" class="form-control" asp-for="Depth" placeholder="Височина" aria-label="Височина">
        <span class="input-group-text">/</span>
        <input type="text" onfocus="this.value=''" class="form-control" asp-for="Width" placeholder="Дълбочина" aria-label="Дълбочина">
    </div>
    <div class="form-group">
        <label asp-for="TextureId">Материал</label>
        <select asp-for="TextureId" class="form-control" asp-items="textures"></select>
        <span asp-validation-for="TextureId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EdgebandId">Кант</label>
        <select asp-for="EdgebandId" class="form-control" asp-items="edgebands"></select>
        <span asp-validation-for="EdgebandId" class="text-danger"></span>
    </div>
    
    <hr />
    <input type="submit" class="btn btn-primary" value="Добави" />
</form>