@using static FurnitureHandbook.Common.GlobalConstants
@model SingleCategoryViewModel
@{
    this.ViewData["Title"] = Model.Name;
}

<h2>Категория:  @this.ViewData["Title"]</h2>
<hr />

<div class="card mb-12" style="margin-top:3%">
    <div class="row">
        <div class="col-md-6">
            <img src=@Model.ImageUrl class="img-fluid rounded-start" alt=@Model.Name>
        </div>
        <div class="col-md-6 text-center">
            <div class="card-body">
                <p class="card-text" style="font-size:18px">Документи:</p>
                <ul style="list-style:none;margin-top:2%">
                   @foreach (var document in this.Model.Documents)
                   {
                        <li>
                            <a href="@document.FileUrl">@document.Name</a>
                        </li>
                   }
                </ul>
                @if (this.User.IsInRole(AdministratorRoleName))
                {
                    <a asp-area="Admin" asp-controller="Documents" asp-action="Create" class="float-md-right btn btn-primary">Добави документ</a>
                }
            </div>
        </div>
    </div>
</div>