@using static FurnitureHandbook.Common.GlobalConstants
@model SingleCategoryViewModel
@{
    this.ViewData["Title"] = Model.Name;
}

<h2>Категория:  @this.ViewData["Title"]</h2>
<hr />

<div class="card mb-12" style="margin-top:3%">
    <div class="row">
        <div class="col-md-6">
            <img src=@Model.ImageUrl class="img-fluid rounded-start" alt=@Model.Name>
        </div>
        <div class="col-md-6 text-center">
            <div class="card-body">
                <p class="card-text" style="font-size:18px">Документи:</p>
                <ul class="btn-group-toggle" style="list-style:none;margin-top:2%">
                    @foreach (var document in this.Model.Documents)
                    {
                        <li class="single-meta">
                            <a href="@document.FileUrl">@document.Name</a>
                            @if (this.User.IsInRole(AdministratorRoleName))
                            {
                                <form asp-action="Delete" asp-controller="Documents" asp-area="Admin" id="deleteForm" asp-route-documentId="@document.Id" method="post">
                                    <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Изтрий</button>
                                </form>
                                
                                
                            }
                        </li>
                    }
                </ul>
                @if (this.User.IsInRole(AdministratorRoleName))
                {
                    <a asp-area="Admin" asp-controller="Documents" asp-action="Create" class="float-md-right btn btn-primary">Добави документ</a>
                }
            </div>
        </div>
    </div>
</div>



<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Сигурни ли сте,че искате да изтриете документа?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Да</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Не</button>
            </div>
        </div>
    </div>
</div>
