@model SingleCategoryViewModel
@{
    this.ViewData["Title"] = Model.Name;
}

<h2>Категория:  @this.ViewData["Title"]</h2>
<hr />

<div class="card mb-12" style="margin-top:3%">
    <div class="row">
        <div class="col-md-6">
            <img src=@Model.ImageUrl class="img-fluid rounded-start" alt=@Model.Name>
        </div>
        <div class="col-md-6 text-center">
            <div class="card-body">
                <p class="card-text" style="font-size:18px">Документи</p>
                <ul style="list-style:none;margin-top:2%">
                    <li>
                        
                    </li>
                </ul>
                <p style="font-family:Gill Sans">За @Model.Name има общо @*@Model.Documents.Count*@ документа.</p>
            </div>
        </div>
    </div>
</div>